:root {
  --red: #ef3f55;
  --wihte: #fff;
}


@media screen and (max-width:1400px) {
  .container {
    width: 90%;
  }
}


@media screen and (max-width:992px) {
  header nav ul {
    display: none;
  }

  header nav .fa-bars {
    display: block;
    cursor: pointer;
  }

  #responsive-nav {
    display: none;
    width: 40%;
    position: absolute;
    height: 100vw;
    top: 0;
    right: -569px;
    background: var(--red);
    z-index: 99;
    padding: 39px;
    bottom: 0;
    animation-name: show;
    animation-duration: 500ms;
  }

  @keyframes show {
    from {right: -569px;}
    to {right: 0;}
  }

  .cancel img{
    width: 25px;
  }

  .cancel {
    position: absolute;
    left: 0;
    top: 0;
    padding: 30px;

  }


  #responsive-nav.active {
    display: block;
    right: 0;
    transition: right 0.5s ease-in-out;

  }

  #responsive-nav ul {
    display: block;
  }

  #responsive-nav ul li {
    list-style: none;
    margin-top: 20px;
  }

  #responsive-nav ul li a {
    color: #fff;
    text-decoration: none;
  }

  header nav {
    /* background: salmon; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100%;

  }

  .bottom-header-item .category {
    display: none;
  }
}



@media screen and (max-width: 768px) {


  .bottom-header-item .search-bar input {
    width: 350px;
  }
}






@media screen and (max-width: 565px) {


  .bottom-header-item .search-bar {
    display: none;
  }

  .bottom-header-item .register {
    margin: auto;
  }
}