:root {
  --red: #ef3f55;
  --wihte: #fff;
}


@media screen and (max-width:1400px) {

}

@media screen and (max-width:1200px) {
  .container {
    width: 95%;
  }
  .Bestselling-products .products-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 0;
    width: 100%;
    grid-auto-rows: 1fr 1fr auto;
    justify-items: center;
  }
}



@media screen and (max-width:992px) {
  header nav ul {
    display: none;
  }

  header nav .fa-bars {
    display: block;
    cursor: pointer;
  }

  #responsive-nav {
    display: none;
    width: 40%;
    position: absolute;
    height: 100vw;
    top: 0;
    right: -569px;
    background: var(--red);
    z-index: 99;
    padding: 39px;
    bottom: 0;
    animation-name: show;
    animation-duration: 500ms;
  }

  @keyframes show {
    from {right: -569px;}
    to {right: 0;}
  }

  .cancel img{
    width: 25px;
  }

  .cancel {
    position: absolute;
    left: 0;
    top: 0;
    padding: 30px;

  }

  .hamberger{
    display:block;
  }

  #responsive-nav.active {
    display: block;
    right: 0;
    transition: right 0.5s ease-in-out;

  }

  #responsive-nav ul {
    display: block;
  }

  #responsive-nav ul li {
    list-style: none;
    margin-top: 20px;
  }


  #responsive-nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: all 0.2s ease;
  }
  #responsive-nav ul li a:hover{
    color:rgba(255, 255, 255, 0.74)
  }

  header nav {
    /* background: salmon; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100%;

  }

  .bottom-header-item .category {
    display: none;
  }

  .Bestselling-products .products-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    width: 100%;
    grid-auto-rows: 1fr 1fr auto;
    justify-items: center;
  }
}



@media screen and (max-width: 768px) {


  .Bestselling-products .products-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    width: 100%;
    grid-auto-rows: 1fr 1fr;
    justify-items: center;
  }
  .bottom-header-item .search-bar input {
    width: 350px;
  }

  .banner{
    height:auto;
  }

  .banner-items {
    /* margin-top: 15px; */
    display: grid;
    grid-template-columns: auto;
    grid-gap: 11px;
    margin: 15px;
  }
  .banner-items img{
    height: auto;
  }

  .slider{
    display:none;
  }



}

@media screen and (max-width: 690px) {
  .Bestselling-products .products-items {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    width: 100%;
    grid-auto-rows: 1fr 1fr;
    justify-items: center;
  }

  .Bestselling-products .products {
    width: 309px;
  }

  .banner-service{
    width: 100%;
    margin: 20px 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

}




@media screen and (max-width: 565px) {


  .bottom-header-item .search-bar {
    display: none;
  }

  .bottom-header-item .register {
    margin: auto;
  }

  #responsive-nav{
    width: 60%;
    height: 100%;
  }

 

  .Bestselling-products .tittle h2{
    font-size: 17px;
  }

  .more-Bestselling-products a{
    font-size: 15px;

  }
}