@font-face {
  font-family: IRANYekan;
  src: url("/fonts/IRANYekanMedium.ttf") format("ttf");
}

:root {
  --red: #ef3f55;
  --wihte: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: IRANYekan;
}

a {
  text-decoration: none !important;
}

.header {
}

.header .top-header {
  background-color: var(--red);
  height: 45px;
}

.top-header-items {
  display: flex;
  align-items: center;
}
.header .top-header nav {
  margin-right: 5px;
}
.header .top-header nav ul {
  display: inline;
}

.header .top-header nav ul li {
  display: inline-block;
  margin-right: 15px;
  position: relative;
}

.header .top-header nav ul li::before {
  content: " ";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #fff;
  bottom: -2px;
  transition: all ease-in-out 0.4s;
  -webkit-transition: all ease-in-out 0.4s;
  -moz-transition: all ease-in-out 0.4s;
  -ms-transition: all ease-in-out 0.4s;
  -o-transition: all ease-in-out 0.4s;
}

.header .top-header nav ul li:hover::before {
  content: " ";
  position: absolute;
  width: 50%;
  height: 2px;
  background-color: #fff;
  bottom: -2px;
}
.header .top-header nav ul li a {
  font-size: 11px;
  color: #fff;
  font-weight: 500;
}

.top-header-items {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo a {
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  position: relative;
  padding: 0 5px;
}

.logo a:hover {
  color: #fff;
}

.logo a::after {
  content: " ";
  position: absolute;
  width: 2px;
  height: 25px;
  background-color: #fff;
  left: -6px;
  top: 4px;
}

/* bottom-heaeder */

.bottom-header {
  /* height: 45px; */
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.bottom-header .category,
.search-bar,
.register {
  display: flex;
  align-items: center;
}

.bottom-header .category span {
  margin-right: 10px;
  font-size: 12px;
}
.search-bar {
  border: 1px solid rgba(204, 204, 204, 0.384);
  position: relative;
}

.search-bar input {
  border: none;
}

.search-bar .i {
  position: absolute;
  right: -15px;
}

.login {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.login a {
  font-size: 12px;
  margin-left: 15px;
}
.search {
  display: flex;
  align-items: center;
  position: relative;
}

.search a {
  color: rgba(19, 13, 13, 0.445);
}
.search a .search-icon {
  position: absolute;
  right: 5px;
  top: 8px;
}

.search input {
  outline: none;
  border: 2px solid rgba(204, 204, 204, 0.685);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: 12px;
  width: 350px;
  padding-right: 35px;
  height: 30px;
  padding-left: 15px;
}

::placeholder {
  color: #0000004b;
}
