@font-face {
  font-family: IRANYekan;
  src: url("/fonts/IRANYekanMedium.ttf") format("ttf"),
}

:root {
  --red: #ef3f55;
  --wihte: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: IRANYekan;
}

.bg-red {
  background-color: red;
}



.container {
  width: 1300px;
  margin: auto;
}

.flex {
  display: flex;
}

header {
  display: flex;
  background: var(--red);
  height: 60px;
  width: 100%;
}

header nav {
  /* background: salmon; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;

}

header nav .fa-bars {
  display: none;
  /* margin-right: 30px; */
  font-size: 35px;
  color: #fff;
}

header nav ul {

  height: 60px;
  line-height: 3;
  align-content: end;
  display: flex;


  align-items: center;
  /* background:springgreen */
}

header nav ul li {
  display: inline-block;
  margin: 0 10px 0 10px;
  position: relative;

}

header nav ul li::after {
  content: " ";
  position: absolute;
  width: 0;
  height: 3px;
  background: #fff;
  right: 0;
  bottom: 0;
  transition: all 0.5s ease-out;
}

header nav ul li:hover::after {
  width: 50%;
}

header nav ul li a {
  text-decoration: none;
  color: #fff;



}

.hamberger {
  display: none;
}

#responsive-nav {
  display: none;
}




header nav .logo a {
  font-family: poppins;
  text-decoration: none;
  color: #fff;
  font-size: 35px;
}

/* bottom-header */

.bottom-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 22%);
}

.bottom-header-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

}



.bottom-header-item .category span {
  margin-right: 10px;
  color: #303030;
  font-size: 24px;
  font-weight: bold;
}



.bottom-header-item .search-bar {
  position: relative;
}


.bottom-header-item .search-bar input {
  border: none;
  width: 453px;
  height: 49px;
  background: #F2F2F2;
  padding: 8px 45px 8px 0;
  border-radius: 8px;
  font-size: 18px;
  outline: none;
}


.bottom-header-item .search-bar span {
  position: absolute;
  right: 8px;
  top: 13px;
}

.bottom-header-item .register {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color:red; */
}


.bottom-header-item .register svg {
  margin-left: 15px;
  margin-top: 5px;

}

.bottom-header-item .register a {
  text-decoration: none;
  color: #303030;
}

/* slider */

.slider {
  margin-top: 35px;
}

.swiper-slide img {
  object-fit: cover;
  width: 100%;
}

.swiper-rtl .swiper-button-next:after {
  content: 'prev';
  color: #fff;
  font-size: 30px;
}

.swiper-rtl .swiper-button-prev:after {
  content: 'next';
  color: #fff;
  font-size: 30px;
}

.swiper-pagination-bullet-active {
  background-color: #fff !important;
}

/* banner */

.banner{
  height:auto;
}
.banner-items {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-gap: 20px;
}

.banner-items img {
  object-fit: cover;
  width: 100%;
  height: 80%;
  border-radius: 8px !important;
}



/* produtct */

.Bestselling-products {
  background: #FAFAFA;
  padding: 30px;
  height: auto;
  display: flex;
  margin-top: 40px;
  border-radius:10px;
}

.Bestselling-products .tittle {
  /* margin:60px 0; */
  display: flex;
  justify-content: space-between;
  align-items: center
}

.Bestselling-products .products-items {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

}

.Bestselling-products .products-items .product-img img {
width: 100%;

}

.Bestselling-products .tittle .more-Bestselling-products {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;

}

.Bestselling-products .tittle .more-Bestselling-products a {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
  color: var(--red)
}

.Bestselling-products .products {
  background: #fff;
  width: 289px;
  height: 314px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.17);
  border-radius: 20px;
  overflow: hidden;
  margin:25px 0;
}



.Bestselling-products .products .product-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: all .3s ease;
}

.Bestselling-products .products:hover .product-title{
  background: rgba(213, 14, 58, 0.1);

}





.Bestselling-products .products .product-title h1 a {
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  color: #303030;
  padding: 0 22px;
}



.Bestselling-products .products .product-title .price {
  margin-top: 15px;
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  justify-content: space-around;
}

